
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

body{
  margin-top:70px;
}

.container{
  width: 960px;
  margin: 0 auto;
}

.custom-alert{
  position: absolute;
  margin: 0 auto;
  bottom: -999px;
  right: 5px;
  width: 200px;
  font-size: .9em;
  height: 50px;
  z-index: 2;
  transition: bottom .2s ease-in;
  
}

.custom-alert-show{
  bottom: 5px;
}

.btn-action > *{
  pointer-events: none;
}

// DIALOG
.dialog{
  width: 500px;
  height: 200px;
  display: none;
  background: skyblue;
  position: fixed;
  margin: 30px auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 1s linear;
  -webkit-transition: all 1s linear;

  @media (min-width: 1200px) { 
    width: 500px;
    margin: 30px auto;
  }
}

.dialog-show{
  display: block;
  z-index: 10001;
}

.dialog-overlay{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background: #ccc;
  opacity: .7;
  width:auto;
  height:auto;
}